#!/bin/bash

### rename template file by deleting .template off end
### fill in password value
### you need to source this file using:
### `source config_dev_secrets.env`


APIPort=8969
DBName=postgres
DBUser=postgres
DBPassword=xxxxx
DBSSLmode=disable
DBMaxOpenConns=20
DBMaxIdleConns=2