#!/bin/bash

### rename template file by deleting .template off end
### and fill in password value
### you need to source this file using:
### `source config_dev_secrets.env`
### Note `DB_PASSWORD` must equal `POSTGRES_PASSWORD`


POSTGRES_USER=postgres
POSTGRES_PASSWORD=xxxx
PGADMIN_DEFAULT_EMAIL=admin@stablecaps.com
PGADMIN_DEFAULT_PASSWORD=xxx