#!/bin/bash

### rename template file by deleting .template off end
### fill in password value
### you need to source this file using:
### `source config_dev_secrets.env`


API_PORT=8969
DB_NAME_SCAPS=postgres
DB_USER_SCAPS=postgres
DB_PASSWORD_SCAPS=xxxxx
DB_SSL_MODE_SCAPS=disable
DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=0