#!/bin/bash

### rename template file by deleting .template off end
### fill in password value
### you need to source this file using:
### `source config_dev_secrets.env`


API_PORT=8969
DBNAME_SCAPS=postgres
DBUSER_SCAPS=postgres
DBPASSWORD_SCAPS=xxxxx
DBSSL_MODE_SCAPS=disable
